<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

	<head>
		<link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico"/>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<meta charset="UTF-8"/>
		<title>Homepage | Admin</title>
	</head>

	<body>
		<div class="ui grid">
			<div th:replace="admin/fragments/menu :: menu"></div>
			<div class="eight wide column">
				<div class="ui basic segment">
					<h1 class="ui header">Greetings!</h1>
					<h2 class="ui header">What can I do for you, master?</h2>
				</div>
			</div>
		</div>
	</body>
</html>