<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico"/>

		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"></script>
		<script th:src="@{/webjars/momentjs/2.14.1/min/moment-with-locales.min.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/momentjs/2.14.1/moment-with-locales.min.js"></script>
		<script th:src="@{/js/admin-information.js}" type="text/javascript" src="js/admin-information.js"></script>

		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="../css/elements.css"/>
		<script th:inline="javascript" type="text/javascript">
			/*<![CDATA[*/
			$(function () {
				var informationForm = $('.ui.form');
	            var info = /*[[${info}]]*/ { "fullInfo": "This is full info!" };
	            info['_csrf'] = informationForm.form('get value', '_csrf');
	            informationForm.form('set values', info);
	            informationForm.submit(submitInfoUpdate);
			});
			/*]]>*/
		</script>
		<meta charset="UTF-8"/>
		<title>Homepage | Admin | Information</title>
	</head>
	<body>
		<div class="ui grid">
			<div th:replace="admin/fragments/menu :: menu"></div>
			<div class="eight wide column">
				<div class="ui basic segment">
					<div class="ui positive message hidden">
						<i class="close icon"></i>
						<div class="header">
							Information successfully updated
						</div>
					</div>
					<div class="ui negative message hidden">
						<i class="close icon"></i>
						<div class="header">
							Information failed to be udpated
						</div>
					</div>
					<form class="ui form segment field vertical" th:action="@{update}">
						<div class="field">
							<input class="form-control" name="realName" placeholder="Real name" />
						</div>
						<div class="field">
							<input class="form-control" name="name" placeholder="Name" />
						</div>
						<div class="field">
							<input class="form-control" name="email" placeholder="E-mail" />
						</div>
						<div class="field">
							<textarea class="form-control" name="shortInfo" placeholder="Short info"></textarea>
						</div>
						<div class="field">
							<textarea class="form-control" name="fullInfo" placeholder="Full info"></textarea>
						</div>
						<div class="field">
							<input class="form-control" name="bitbucketLink" placeholder="Bitbucket" />
						</div>
						<div class="field">
							<input class="form-control" name="githubLink" placeholder="Github" />
						</div>
						<div class="field">
							<input class="form-control" name="linkedinLink" placeholder="LinkedIn" />
						</div>
						<button class="ui teal button">Save</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>