<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div class="ui grid">
			<div th:fragment="about" class="five wide column">
				<div class="ui card">
					<!--<div class="image">-->
					<!--<img src=""/>-->
					<!--</div>-->
					<div class="content">
						<div class="header" th:text="${information.realName}">Elizaveta Lukicheva</div>
						<div class="meta">
							<span class="date" th:text="${information.name}">bananamilshake</span>
						</div>
						<div class="description" th:text="${information.shortInfo}">
							Write code for fun. C++ game developer at work, JavaEE programmer at home. Currently live in
							Saint-Petersburg, Russia.
						</div>
					</div>
					<div class="extra content">
						<a>
							<i class="icon mail outline"></i>
							<!--/*-->
							me@bananamilkshake.me
							<!--*/-->
							<div th:text="${information.email}" th:remove="tag"></div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>