<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"
		        th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}"></script>

		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="../css/elements.css"/>
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../css/style.css"/>
		<script th:src="@{/js/article.js}" type="text/javascript" src="../js/article.js"></script>
		<meta charset="UTF-8"/>
		<title></title>
	</head>

	<body>
		<div th:fragment="articles(articles)" th:each="article : ${articles}" class="ui raised segment js-article">
			<a th:href="${article.id} + '/'" href="#">
				<h2 th:text="${article.title}">Война и мир</h2>
			</a>
			<div class="date secondary" th:text="${article.creationDate}">10/07/2015</div>
			<div class="ui labels tiny">
				<a th:each="tag : ${article.tags}" th:text="${tag}" class="ui label"
				   th:href="@{/articles/search(tag=${tag})}">Tag</a>
			</div>
			<div>
				<p th:utext="${article.text}" th:remove="tag">И действительно, он пробежал один только несколько шагов.
					Тронулся один, другой солдат, и весь батальон с криком «ура!» побежал вперед и обогнал его.
					Унтер-офицер батальона, подбежав, взял колебавшееся от тяжести в руках
					князя Андрея знамя, но тотчас же был убит. Князь Андрей опять схватил знамя и, волоча его за древко,
					бежал с батальоном. Впереди себя он видел наших артиллеристов, из которых одни
					дрались, другие бросали пушки и бежали к нему навстречу; он видел и французских пехотных солдат,
					которые хватали артиллерийских лошадей и поворачивали пушки. Князь Андрей с
					батальоном уже был в двадцати шагах от орудий. Он слышал над собою неперестававший свист пуль, и
					беспрестанно справа и слева от него охали и падали солдаты. Но он не смотрел на них;
					он вглядывался только в то, что происходило впереди его — на батарее. Он ясно видел уже одну фигуру
					рыжего артиллериста с сбитым набок кивером, тянущего с одной стороны банник, тогда как французский
					солдат тянул банник к себе за другую сторону. Князь Андрей видел уже ясно растерянное и вместе
					озлобленное выражение лиц этих двух людей, видимо, не понимавших того, что они делали.</p>
			</div>
		</div>

		<div th:if="${totalPages > 0}" th:fragment="pagination(block, totalPages)" class="ui pagination menu raised">
			<a th:each="pageId : ${#numbers.sequence(1, totalPages)}" th:href="@{''(block=${pageId - 1})}"
			   th:text="${pageId}" th:classappend="(${pageId == currentPage}) ? active" class="item" href="#">1</a>
			<!--/*-->
			<a th:href="@{''(block=${pageId - 1})}" th:text="${pageId}" class="item" href="#">2</a>
			<a th:href="@{''(block=${pageId - 1})}" th:text="${pageId}" class="item" href="#">3</a>
			<!--*/-->
		</div>
	</body>
</html>