<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"
		        th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}"></script>
		<script th:src="@{/webjars/momentjs/2.14.1/min/moment-with-locales.min.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/momentjs/2.14.1/moment-with-locales.min.js"></script>

		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="../css/elements.css"/>
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../css/style.css"/>
		<script th:src="@{/js/date-displaying.js}" type="text/javascript" src="../js/date-displaying.js"></script>
		<script th:src="@{/js/article.js}" type="text/javascript" src="../js/article.js"></script>
		<meta charset="UTF-8"/>
		<title></title>
	</head>

	<body>
		<div th:fragment="text(article)" id="article-body" class="ui raised segment js-article">
			<div><h2 th:text="${article.title}">Война и мир</h2></div>
			<div class="date secondary" th:text="${article.creationDate}">10/07/2015</div>
			<div class="ui labels tiny">
				<a th:each="tag : ${article.tags}" th:text="${tag}" class="ui label"
				   th:href="@{/articles/search(tag=${tag})}">Tag</a>
			</div>
			<div>
				<p th:utext="${article.text}" th:remove="tag">И действительно, он пробежал один только несколько шагов.
					Тронулся один, другой солдат, и весь батальон с криком «ура!» побежал вперед и обогнал его.
					Унтер-офицер батальона, подбежав, взял колебавшееся от тяжести в руках князя Андрея знамя, но тотчас
					же был убит. Князь Андрей опять схватил знамя и, волоча его за древко, бежал с батальоном. Впереди
					себя он видел наших артиллеристов, из которых одни дрались, другие бросали пушки и бежали к нему
					навстречу; он видел и французских пехотных солдат, которые хватали артиллерийских лошадей и
					поворачивали пушки. Князь Андрей с батальоном уже был в двадцати шагах от орудий. Он слышал над
					собою неперестававший свист пуль, и беспрестанно справа и слева от него охали и падали солдаты. Но
					он не смотрел на них; он вглядывался только в то, что происходило впереди его — на батарее. Он ясно
					видел уже одну фигуру рыжего артиллериста с сбитым набок кивером, тянущего с одной стороны банник,
					тогда как французский солдат тянул банник к себе за другую сторону. Князь Андрей видел уже ясно
					растерянное и вместе озлобленное выражение лиц этих двух людей, видимо, не понимавших того, что они
					делали.</p>
			</div>
		</div><!--fragment-body-->

		<form th:fragment="reply(article, answerTo)"
		      class="ui form reply segment field vertical"
		      th:classappend="${answerTo} == null ? 'js-reply-article' : 'js-reply-comment'"
		      th:action="@{'comment'(answerTo=(${answerTo} != null ? ${answerTo.id}))}">
			<div th:switch="${#httpServletRequest.remoteUser}" th:remove="tag">
				<div th:case="null" th:remove="tag">
					<div class="field required">
						<input class="form-control" id="name" name="name" placeholder="Your name"/>
						<div class="ui pointing label red hidden">Please enter a value</div>
					</div>
					<div class="field"
					     data-content="If you add email for comment notification about answer will be sent"
					     data-position="right center">
						<input class="form-control" id="email" name="email" placeholder="Email (optional)"/>
					</div>
				</div>
				<div th:case="*" th:remove="tag">
					<div class="field disabled">
						<input class="form-control" id="name" name="name" placeholder="Your name"
						       th:placeholder="${#httpServletRequest.remoteUser}"/>
					</div>
				</div>
			</div>
			<div class="field">
				<textarea class="form-control" id="comment required" name="comment" rows="5"
				          placeholder="Comment..."></textarea>
				<div class="ui pointing label red hidden">Please enter a value</div>
			</div>
			<button class="ui primary button submit">Reply</button>
		</form><!--fragment reply-->

		<div th:fragment="comments(comments)" class="ui comments" id="comments">
			<div th:each="comment : ${comments}" th:remove="tag">
				<div th:replace="fragments/article :: answer(${comment})"></div>
			</div>
			<script type="text/javascript">
				// Reply button toggles reply form
				$('.ui.accordion')
					.accordion();
				
				// Format comments dates displaying
				$('div.metadata > div.date')
					.text(formatDate);
				
				// Make reply form useful
				$('form.reply.js-reply-comment')
					.submit(sendComment);

			</script>
		</div><!--comments-->

		<div th:fragment="answer(comment)" class="comment">
			<div class="content">
				<a class="author" th:text="${comment.creatorName}">Ivan</a>
				<div class="ui mini label yellow" th:text="admin" th:if="${comment.principal}">admin</div>
				<div class="metadata">
					<div class="date" th:text="${comment.creationDate}">23/09/2013</div>
				</div>
				<a th:name="'comment-' + ${comment.id}" th:href="'#comment-' + ${comment.id}" href="#">#</a>
				<div class="text">
					<p th:text="${comment.text}">This has been very useful for my research. Thanks as well!</p>
				</div>
				<div class="actions">
					<div class="ui accordion">
						<div class="title">
							<a class="reply">Reply</a>
						</div>
						<div class="content">
							<div th:replace="fragments/article :: reply(${article}, ${comment})"></div>
						</div>
					</div>
				</div>
			</div><!--comment-content-->

			<div class="comments" th:if="${not #lists.isEmpty(comment.answers)}">
				<div th:each="answer : ${comment.answers}" th:remove="tag">
					<div th:replace="fragments/article :: answer(${answer})"></div>
				</div>
			</div><!--comment-answers-->
		</div><!--fragment answer-->
	</body>
</html>