<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="../css/style.css"/>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<section class="fill-height-or-more">
			<div>
				Content
			</div>
			<footer th:fragment="footer" class="ui inverted vertical footer segment" style="margin-top: 2em;">
				<div class="ui container">
					<div class="ui stackable inverted divided grid">
						<div class="three wide column">
							<h4 class="ui inverted header">Menu</h4>
							<div class="ui inverted link list">
								<a href="#" class="item">Back to top</a>
							</div>
						</div>
						<div class="five wide column">
							<h4 class="ui inverted header">License</h4>
							<p>This program is free software; you can redistribute it and/or modify it under the terms
								of the GNU General Public License as published by the Free Software Foundation; either
								version 2 of the License, or (at your option) any later version.</p>
						</div>
						<div class="five wide column">
							<div>
								<a th:href="@{${information.bitbucketLink}}"
								   href="https://bitbucket.org/bananamilkshake">
									<i class="bitbucket icon large inverted"></i>
								</a>
								<a th:href="@{${information.githubLink}}"
								   href="https://github.com/bananamilkshake-code">
									<i class="github icon large inverted"></i>
								</a>
								<a th:href="@{${information.linkedinLink}}"
								   href="https://linkedin.com/in/elizavetalukicheva">
									<i class="linkedin icon large inverted"></i>
								</a>
								<a th:href="@{/rssfeed}"
								   href="/rssfeed">
									<i class="rss icon large inverted"></i>
								</a>
							</div>
							<h4 class="ui inverted header">Notice</h4>
							<p>If you have any troubles visiting this site, please write to me about it on <a
									th:text="${information.email}">vocaloidvnuchka@gmail.com</a>
							</p>
						</div>
					</div>
				</div>
			</footer>
		</section>
	</body>
</html>