<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<nav th:fragment="header(current)" class="ui inverted borderless stackable menu">
			<div class="ui container">
				<a class="item header" th:href="@{/}" th:classappend="${current} == '' ? active" href="#">Home</a>
				<a class="item" th:href="@{/articles/}" th:classappend="${current} == 'articles' ? active" href="#">Articles</a>
				<a class="item" th:href="@{/projects/}" th:classappend="${current} == 'projects' ? active" href="#">Projects</a>
				<!--<a class="item" href="#">Contacts</a>-->
			</div>
		</nav>
	</body>
</html>