<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="<%=request.getContextPath()%>/img/favicon.ico"/>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css"
		      href="<%=request.getContextPath()%>/css/elements.css"/>
		<meta charset="UTF-8"/>
		<title>403</title>
	</head>

	<body>
		<div class="container">
			<div class="ui inverted vertical error-page center aligned segment">
				<div class="ui text container">
					<h1 class="ui inverted header">403</h1>
					<h2>This page is forbidden for you.</h2>
				</div>
			</div>
		</div>
	</body>
</html>
