<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

	<head>
		<link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico"/>

		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"
		        th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}"></script>
		<script type="text/javascript" src="webjars/momentjs/2.14.1/moment-with-locales.min.js"
		        th:src="@{/webjars/momentjs/2.14.1/min/moment-with-locales.min.js}"></script>

		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="css/style.css"/>
		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="css/elements.css"/>
		<script th:src="@{/js/date-displaying.js}" type="text/javascript" src="js/date-displaying.js"></script>
		<script th:src="@{/js/article.js}" type="text/javascript" src="js/article.js"></script>
		<script type="text/javascript">
			// Make reply form useful
			$(function () {
				$('form.reply.js-reply-article')
					.submit(sendComment);
				$('.field')
					.popup();
			});
		</script>

		<meta charset="UTF-8"/>
		<title>Article</title>
	</head>

	<body>
		<div class="fill-height-or-more">
			<div th:replace="fragments/header :: header('articles')"></div>
			<div class="ui container">
				<div class="ui grid stackable">
					<div class="ten wide column" id="article">
						<div th:replace="fragments/article :: text(${article})" class="ui segment"></div>
						<!-- content -->
						<div class="ui segment">
							<h2 class="ui dividing header">What can you say about it?</h2>
							<div th:replace="fragments/article :: reply(${article}, null)"></div><!-- reply -->
							<div th:replace="fragments/article :: comments(${article.rootComments})"></div>
							<!-- comments -->
						</div>
					</div><!--article-->
					<div th:replace="fragments/about :: about"></div>
				</div>
			</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</body>
</html>
