<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico"/>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"
		        th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}"></script>

		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="css/style.css"/>
		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="css/elements.css"/>
		<script th:src="@{/js/login.js}" type="text/javascript" src="../js/login.js"></script>
		<meta charset="UTF-8"/>
		<title>Homepage</title>
	</head>
	<body>
		<div class="fill-height-or-more">
			<div th:replace="fragments/header :: header('')"></div>
			<div class="ui container">
				<div class="ui grid stackable">
					<div class="ten wide column">
						<div class="ui raised fluid segment">
							<div th:utext="${information.fullInfo}">
								<!--/*-->
								<h2 class="ui header">Header</h2>
								<p>Text.</p>
								<!--*/-->
							</div>
						</div>
					</div>
					<div th:replace="fragments/about :: about"></div>
				</div>
			</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
		<div class="ui modal small">
			<i class="close icon"></i>
			<div class="header">Login</div>
			<form class="ui form segment field vertical" th:action="@{/login}" method="post">
				<div class="content">
					<div class="ui basic segment">
						<div class="field">
							<input class="form-control" name="username" placeholder="Username"/>
						</div>
						<div class="field">
							<input class="form-control" name="password" placeholder="Password" type="password"/>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui black deny button">
						Cancel
					</div>
					<div class="ui positive right labeled icon button">
						Submit
						<i class="checkmark icon"></i>
					</div>
				</div>
			</form>
			<div class="ui negative message hidden">
				<p>Incorrect credentials</p>
			</div>
		</div>
	</body>
</html>