<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico"/>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script type="text/javascript" src="webjars/momentjs/2.14.1/moment-with-locales.min.js"
		        th:src="@{/webjars/momentjs/2.14.1/min/moment-with-locales.min.js}"></script>

		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="css/style.css"/>
		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="css/elements.css"/>
		<script th:src="@{/js/date-displaying.js}" type="text/javascript" src="js/date-displaying.js"></script>
		<meta charset="UTF-8"/>
		<title>Search</title>
	</head>
	<body>
		<div class="fill-height-or-more">
			<nav th:replace="fragments/header :: header('articles')"></nav>
			<div class="ui grid">
				<div class="eight wide column">
					<div class="ui message">
						<p th:utext="'&lt;p&gt;Articles with tag &lt;b&gt;' + ${tag} + '&lt;/b&gt;&lt;/p&gt;'"
						   th:remove="tag">Articles with tag <b>Some tag</b></p>
					</div>

					<div th:replace="fragments/articles :: articles(${articles})"></div>
					<div th:replace="fragments/articles :: pagination(${block}, ${articles.totalPages})"></div>
				</div>
				<div th:replace="fragments/about :: about"></div>
			</div>
			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</body>
</html>