/*
Copyright (C) 2015 Liza Lukicheva

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*/

#about {
	background-color: #e8e8e8;
	color: #000000;
}

.error-page.segment {
	height: 100vh;
}

.error-page h1.ui.header {
	margin-top: 20vh;
	margin-bottom: 0em;
	font-size: 4em;
}

.error-page h2 {
	font-size: 1.7em;
}