/*
Copyright (C) 2015 Liza Lukicheva

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*/

body {
	background-image: url("../img/stardust-pur.png");
	background-position: center top;
	background-attachment: fixed;
	height: 100%;
}

html {
	height: 100%;
}

.fill-height-or-more {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.fill-height-or-more > div {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.fill-height-or-more > footer {
	margin-top: 2em;
}

.secondary {
	color: #a6a6a6;
	font-size: x-small;
}