<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"></script>
		<script th:src="@{/webjars/momentjs/2.14.1/min/moment-with-locales.min.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/momentjs/2.14.1/moment-with-locales.min.js"></script>

		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="../../css/elements.css"/>
		<script th:src="@{/js/date-displaying.js}" type="text/javascript" src="../../js/date-displaying.js"></script>
		<script th:src="@{/js/admin.js}" type="text/javascript" src="../../js/admin.js"></script>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div th:fragment="article(article)" class="ui raised segment js-article" th:id="'article-' + ${article.id}">
			<a th:href="${article.id} + '/'" href="#">
				<h2 th:text="${article.title}" class="js-title">Война и мир</h2>
			</a>
			<div class="date secondary" th:text="${article.creationDate}">10/07/2015</div>
			<div class="ui labels tiny">
				<a th:each="tag : ${article.tags}" th:text="${tag}" class="ui label" th:href="@{/articles/search(tag=${tag})}">Tag</a>
			</div>
			<div th:utext="${article.text}">
				<!-- /* -->
				<p>И действительно, он пробежал один только несколько шагов.
					Тронулся один, другой солдат, и весь батальон с криком «ура!» побежал вперед и обогнал его.
					Унтер-офицер батальона, подбежав, взял колебавшееся от тяжести в руках
					князя Андрея знамя, но тотчас же был убит. Князь Андрей опять схватил знамя и, волоча его за древко,
					бежал с батальоном. Впереди себя он видел наших артиллеристов, из которых одни
					дрались, другие бросали пушки и бежали к нему навстречу; он видел и французских пехотных солдат,
					которые хватали артиллерийских лошадей и поворачивали пушки. Князь Андрей с
					батальоном уже был в двадцати шагах от орудий. Он слышал над собою неперестававший свист пуль, и
					беспрестанно справа и слева от него охали и падали солдаты. Но он не смотрел на них;
					он вглядывался только в то, что происходило впереди его — на батарее. Он ясно видел уже одну фигуру
					рыжего артиллериста с сбитым набок кивером, тянущего с одной стороны банник, тогда как французский
					солдат тянул банник к себе за другую сторону. Князь Андрей видел уже ясно растерянное и вместе
					озлобленное выражение лиц этих двух людей, видимо, не понимавших того, что они делали.</p>
				<!-- */ -->
			</div>
			<div class="ui divider"></div>
			<div class="ui toggle checkbox">
				<input name="public" disabled="disabled"
				       th:attrappend="checked=${#bools.isTrue(article.published) ? 'checked' : null}" type="checkbox"/>
				<label>Published</label>
			</div>
			<div class="ui divider hidden"></div>
			<button class="ui primary button" th:onclick="'showEditModal(\'Edit article\', \''+${#strings.escapeJavaScript(article.asJson())}+'\', \'article-'+${article.id}+'\');'">
				<i class="edit icon"></i>
				Edit
			</button>
		</div>

		<div th:fragment="modalEdit" class="ui modal">
			<i class="close icon"></i>
			<div class="header">
				Add article
			</div>
			<form class="ui form segment field vertical" th:action="@{add}">
				<div class="content">
					<div class="ui basic segment">
						<input name="id" value="${article.id}" hidden="hidden"/>
						<div class="field">
							<input class="form-control" name="title" placeholder="Title"/>
						</div>
						<div class="field">
							<div id="preview-button" class="ui tiny button top attached" tabindex="0">
								Preview
							</div>
							<div class="ui basic attached segment">
								<textarea id="text-edit" class="form-control" name="text" rows="15"
								          placeholder="Place your text here"></textarea>
								<div id="text-preview" style="display: none;"></div>
							</div>
						</div>
						<div class="ui fluid multiple search selection dropdown">
							<input name="tags" type="hidden"/>
							<i class="dropdown icon"></i>
							<div class="default text">Tags</div>
							<div class="menu">
								<div class="item" data-value="C++">C++</div>
								<div class="item" data-value="Java">Java</div>
								<div class="item" data-value="Fun">Fun</div>
								<div class="item" data-value="Linux">Linux</div>
							</div>
						</div>
						<div class="ui divider"></div>
						<div class="ui toggle checkbox checked field">
							<input name="published" type="checkbox"/>
							<label>Published</label>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui black deny button">
						Cancel
					</div>
					<div class="ui positive right labeled icon button">
						Save
						<i class="checkmark icon"></i>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>