<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~                           
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~                           
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~                           
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">

		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="../../css/elements.css"/>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div th:fragment="messageError" id="message-error" class="ui error message hidden">
			<i class="close icon"></i>
			<div class="header">
				There was some errors with your submission
			</div>
			<div class="js-content"></div>
		</div>

		<div th:if="${total > 0}" th:fragment="pagination(current, total)" class="ui pagination menu raised">
			<p></p>
			<a th:each="pageId : ${#numbers.sequence(1, total)}" th:href="@{''(block=${pageId - 1})}"
			   th:text="${pageId}" th:classappend="(${pageId == current}) ? active" class="item" href="#">1</a>
			<!--/*-->
			<a class="item active" href="#">2</a>
			<a class="item" href="#">3</a>
			<!--*/-->
		</div>
	</body>
</html>