<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div class="ui grid">
			<div th:fragment="menu" class="four wide column">
				<div class="ui vertical inverted left menu attached fixed">
					<a class="item" th:href="@{/}">
						<i class="home icon"></i>
						Homepage
					</a>
					<a class="item" th:href="@{/admin/}">
						<i class="home icon"></i>
						Admin home
					</a>
					<a class="item" th:href="@{/admin/information/}">
						<i class="info icon"></i>
						Information
					</a>
					<a class="item" th:href="@{/admin/articles/}">
						<i class="book layout icon"></i>
						Articles
					</a>
					<a class="item" th:href="@{/admin/projects/}">
						<i class="laptop icon"></i>
						Projects
					</a>

					<form th:action="@{/logout}" method="post">
						<a class="item" href="javascript:;" onclick="parentNode.submit();">
							<i class="sign out icon"></i>
							Logout
						</a>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>