<!DOCTYPE html>
<!--
  ~ Copyright (C) 2016 Liza Lukicheva
  ~                           
  ~ This program is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU General Public License
  ~ as published by the Free Software Foundation; either version 2
  ~ of the License, or (at your option) any later version.
  ~                           
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~                           
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
  -->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<link th:href="@{/webjars/Semantic-UI/2.2.2/semantic.min.css}" rel="stylesheet" type="text/css"
		      href="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.css">
		<script th:src="@{/webjars/jquery/3.0.0-alpha1/jquery.js}" type="text/javascript"
		        src="http://cdn.jsdelivr.net/webjars/jquery/3.0.0-alpha1/jquery.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/webjars/Semantic-UI/2.2.2/semantic.min.js"
		        th:src="@{/webjars/Semantic-UI/2.2.2/semantic.min.js}"></script>

		<link th:href="@{/css/elements.css}" rel="stylesheet" type="text/css" href="../../css/elements.css"/>
		<script th:src="@{/js/admin.js}" type="text/javascript" src="../../js/admin.js"></script>
		<meta charset="UTF-8"/>
		<title></title>
	</head>
	<body>
		<div th:fragment="project(project)" class="ui raised segment js-article" th:id="'project-' + ${project.id}">
			<h2 th:text="${project.name}" class="js-name">Project name</h2>
			<div th:utext="${project.description}">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
				ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
				fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
				deserunt mollit anim id est laborum.
			</div>
			<div class="ui divider"></div>
			<div class="ui divider hidden"></div>
			<button class="ui primary button"
			        th:onclick="'showEditModal(\'Edit project\', \''+${#strings.escapeJavaScript(project.asJson())}+'\', \'project-'+${project.id}+'\');'">
				<i class="edit icon"></i>
				Edit
			</button>
		</div>

		<div th:fragment="modalEdit" class="ui modal">
			<i class="close icon"></i>
			<div class="header">Add project</div>
			<form class="ui form segment field vertical" th:action="@{add}">
				<input name="id" hidden="hidden"/>
				<div class="content">
					<div class="ui basic segment">
						<div class="field">
							<input class="form-control" name="name" placeholder="Name"/>
						</div>
						<div class="field">
							<div id="preview-button" class="ui tiny button top attached" tabindex="0">
								Preview
							</div>
							<div class="ui basic attached segment">
								<textarea id="description-edit" class="form-control" name="description" rows="15"
								          placeholder="Description"></textarea>
								<div id="description-preview" style="display: none;"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<div class="ui black deny button">
						Cancel
					</div>
					<div class="ui positive right labeled icon button">
						Save
						<i class="checkmark icon"></i>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>